---
layout: base
---

<h2>Home Layout</h2>

{{ content }}

<h3>Inspect</h3>
<ul class="entries">
    {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
      <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for collection in site.collections %}
  <h2>Items from {{ collection.label }}</h2>
  Inspect the variables:
  <div>docs: {{ collection.docs }}</div>
  <div>files: {{ collection.files }}</div>
  <div>relative_directory: {{ collection.relative_directory }}</div>
  <div>directory: {{ collection.directory }}</div>
  <div>output: {{ collection.output }}</div>    
  <ul>
    {% for item in site[collection.label] %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>

  <h3>Limit list length</h3>
  <ul>
    {% for item in site[collection.label] limit:2 %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>  
{% endfor %}

<h3>Quick Test</h3>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h3>Tags Test</h3>
{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

<h3>Listing all Tags</h3>
<ul class="tags">
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
  {% endfor %}
 </ul>

<h3>Listing all Tags and the posts containing that Tag</h3>
 {% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

{{ t | downcase }}
<ul>
{% for post in posts %}
  {% if post.tags contains t %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}

<h3>experiment</h3>
<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag | first }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>