---
layout: base
---

<h2>Home Layout</h2>

{{ content }}

<h3>Inspect</h3>
<ul class="entries">
    {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
      <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for collection in site.collections %}
  <h2>Items from {{ collection.label }}</h2>
  Inspect the variables:
  <div>docs: {{ collection.docs }}</div>
  <div>files: {{ collection.files }}</div>
  <div>relative_directory: {{ collection.relative_directory }}</div>
  <div>docs: {{ collection.directory }}</div>
  <div>docs: {{ collection.output }}</div>    
  <ul>
    {% for item in site[collection.label] %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}