---
layout: base
---

<h1 class="text-body-emphasis">Dynamic data without a server!</h1>
<p class="fs-5 col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div class="mb-5">
  <a href="/docs/5.3/examples/" class="btn btn-primary btn-lg px-4">Sample Button</a>
</div>

<hr class="col-3 col-md-2 mb-5">     

{{ content }}

<h4>Limit the list length:</h4>
{% for item in site[collection.label] limit:2 %}
        - <a href="{{ item.url }}">{{ item.title }}</a> <br>
{% endfor %}
<br class="py-3">